$font-stack: "Segoe UI", "DejaVu Sans", "Verdana", sans-serif;

$page-width: 1000px;

$base0: #FFFFFF;
$base1: #F7F7F7;
$base2: #F0F0F0;
$base3: #404040;
$text0: #303030;
$text1: #F7F7F7;
$accent0: #7777A7;
$accent1: #575797;
$error: #F06067;

$fontsize0: 0.75em;
$fontsize1: 0.9em;
$fontsize2: 1em;
$fontsize3: 1.25em;

$margin0: 4px;
$margin1: 8px;
$margin2: 16px;
$margin3: 24px;

$duration0: 150ms;
$duration1: 250ms;
$duration3: 500ms;
